.img-logo_mobile {
    width: 170px;
}
.nav-mobile_item {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.nav-mobile_btn-block {
    gap: 20px;
    display: flex;
    align-items: center;
}

