.body {
    background: black;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    max-width: 1025px;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

/* Drink Menu */
.drink-menu {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.decoy {
    width: 2px;
}
.menu-button {
    display: flex;
}

.button {
    color: #FBFBFB;
    padding: 16px;
    display: grid;
    place-items: center;
    border: solid black 1px;
}

.txt-13 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: black;
}

a:hover {
    text-decoration: none!important;
    color: #CCCCCC;
}
.selected-link {
    color: #CCCCCC;
}

.img-full {
    width: 100%;
}

.item-push {
    display: flex;
    justify-content: space-between;
}


/*MAX WIDTH*/
.max-w1025p {
    max-width: 1025px !important ;
}

body {
    background: black;
}


/* BUTTON SECTION SYSTEM */
.btn-primary_mobile {
    border: 1px solid #5582ff;
    color: white;
    font-size: 13px;
    transition: 0.3s;
    padding: 12px 45px;
    text-align: center;
    background-color: none;
}
.btn-primary_mobile:hover {
    color: white;
    background-color: #5582ff;
}

.btn-primary_mobile--selected {
    border: 1px solid #5582ff;
    color: white;
    font-size: 13px;
    transition: 0.3s;
    padding: 12px 45px;
    text-align: center;
    background-color: #5582ff;
}

.btn-link_mobile {
    color: white;
    font-size: 13px;
    transition: 0.3s;
}
.btn-link_mobile:hover {
    color: #5582ff;
    text-decoration: underline;
}

/* MENU BUTTON SECTION */
.menu-btn-section_mobile {
    display: flex;
    gap: 10px;
    justify-content: center;
}


.separator-line {
    height: 60px;
    margin: 0px 10px;
    border-top: 2px solid #5582ff;
} 